
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: stretch;
    gap: 8px;
}

.flex.flex-column {
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

#controls {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

#sketchpad-container {
    padding: 15px;
    flex-grow: 2;
    align-self: stretch;
}

#sketchpad {
    aspect-ratio: 1/1;
    max-width: 95%;
    max-height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    border: 2px solid darkred;
}

.square.filled {
    background-color: #000;
}

@media screen and (max-width: 779px) {
    #container.flex {
        flex-direction: column;
    }
}