body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
    color: #fff;
}

.flex {
    display: flex;
    justify-content: stretch;
    gap: 8px;
}

.flex.flex-column {
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background-color: darkred;
}

#controls h1 {
    margin-right: auto;
}

#controls {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    padding: 15px;
    background-color: darkred;
}

#sketchpad-container {
    padding: 15px;
    flex-grow: 2;
    align-self: stretch;
    background-color: #fff;
}

#sketchpad {
    aspect-ratio: 1/1;
    max-width: 95%;
    max-height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    border: 2px solid darkred;
}

.square.filled {
    background-color: #000;
}

@media screen and (max-width: 779px) {
    #container.flex {
        flex-direction: column;
    }
}

#button-clear {
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    background-color: #5a5a5a
}

#button-clear:hover {
    background-color: #7a7a7a
}

#button-clear:hover:active {
    background-color: #9a9a9a
}